.footer-wrapper {
    background-color: #163860;
    color: white;
}

.footer {
    padding-left: 32px;
    padding-right: 32px;
}

.footer-top {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #476486;
    padding-bottom: 32px;
    padding-top: 24px
}

.footer-left {
    padding-right: 32px;
    border-right: 1px solid #476486;
    display: flex;
    flex: 1;
}

.footer-left-title {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: bold;
}

.footer-left-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

.footer-left-list-item {
    font-size: 12px;
    margin-bottom: 4px;
}

.footer-left-list-item svg {
    margin-right: 8px;
}

.footer-left-list-item-wrapper {
    cursor: pointer;
    transition: opacity 0.5s;
}

.footer-left-list-item-wrapper:hover {
    opacity: 0.7;
    color: #1f66ba;
}

.footer-middle-left {
    display: flex;
    flex: 1;
    padding-left: 32px;
    padding-right: 16px;
}

.footer-middle-left-container {
    display: flex;
    flex-direction: row;
}

.footer-middle-left-img {
    margin-right: 16px;
}

.footer-middle-left-text {
    display: flex;
    flex-direction: column;
}

.footer-middle-left-text-title, .footer-middle-left-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

.footer-middle-left-text-subtitle {
    font-size: 12px;
}

.footer-middle-left-text-button {
    margin-top: 8px;
    font-size: 10px;
    padding: 8px 16px;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 0.5s;
    white-space: nowrap;
}

.footer-middle-left-text-button:hover {
    opacity: 0.7;
    color: #1f66ba;
    border-color: #1f66ba;
}

.footer-middle-right {
    display: flex;
    flex: 1;
}

.footer-middle-right-title {
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: bold;
}

.footer-middle-right-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.footer-middle-right-list-item {
    margin-bottom: 4px;
    font-size: 12px;
    cursor: pointer;
    transition: opacity 0.5s;
}

.footer-middle-right-list-item:hover {
    opacity: 0.7;
    color: #1f66ba;
}

.footer-middle-right-list-item p {
    margin-bottom: 24px;
    padding-top: 8px;
    font-size: 10px;
}

.footer-right {
    display: flex;
    flex: 1;
    padding-left: 32px;
    border-left: 1px solid #476486;
    flex-direction: column;
}

.footer-right-top {
    margin-bottom: 24px;
}

.footer-right-top-title {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
}

.footer-right-top-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.footer-right-top-list-item {
    margin-bottom: 8px;
    font-size: 12px;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.5s;
}

.footer-right-top-list-item:hover {
    opacity: 0.7;
    color: #1f66ba;
}

.footer-right-top-list-item span {
    margin-left: 8px;
}

.footer-right-middle {
    margin-bottom: 24px;
}

.footer-right-middle-title {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
}

.footer-right-middle-item {
    cursor: pointer;
    transition: opacity 0.5s;
}

.footer-right-middle-item:hover {
    opacity: 0.7;
    color: #1f66ba;
}

.footer-right-middle-item span {
    font-size: 12px;
    margin-left: 8px;
}

.footer-right-bottom {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
}

.footer-right-bottom svg {
    margin-left: 6px;
    margin-right: 6px;
    cursor: pointer;
}


.footer-bottom-list {
    text-align: center;
    list-style: none;
    padding-left: 0;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-bottom-list-item {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 11px;
    white-space: nowrap;
    cursor: pointer;
    transition: opacity 0.5s;
}

.footer-bottom-list-item:hover {
    opacity: 0.7;
    color: #1f66ba;
}


@media screen and (min-width: 1280px) {
    .footer-middle-left-title {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .footer-middle-left-container {
        flex-direction: column;
    }

    .footer-middle-left-text-title {
        display: none;
    }

    .footer-middle-left-text-subtitle {
        margin-top: 16px;
        margin-bottom: 8px;
    }

    .footer-middle-left-text-button {
        padding-left: 28px;
    }

}

@media screen and (max-width: 767px) {
    .footer-middle-left-title {
        display: none;
    }

    .footer-top {
        flex-direction: column;
        padding-bottom: 0;
        border-bottom: none;
    }

    .footer {
        padding-left: 16px;
        padding-right: 16px;
    }

    .footer-left {
        border-right: none;
        border-bottom: 1px solid #476486;
        margin-bottom: 24px;
        padding-bottom: 24px;
    }

    .footer-middle-left {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 24px;
        border-bottom: 1px solid #476486;
        margin-bottom: 24px;
    }

    .footer-middle-right {
        padding-bottom: 24px;
        border-bottom: 1px solid #476486;
        margin-bottom: 24px;
    }

    .footer-right {
        padding-left: 0;
        border-left: none;
    }

    .footer-right-top {
        padding-bottom: 24px;
        border-bottom: 1px solid #476486;
    }

    .footer-right-middle {
        padding-bottom: 24px;
        border-bottom: 1px solid #476486;
    }

    .footer-right-bottom {
        padding-bottom: 24px;
        border-bottom: 1px solid #476486;
        margin-bottom: 24px;
    }
}