body {
    margin: 0;
    font-family: sourse sans pro, sans-serif;
}

.main-container-wrapper {
    padding-top: 32px;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0;
}

@media screen and (min-width: 1280px) {
    .main-container-wrapper {
        max-width: 1280px;
        margin: 0 auto;
    }

    #bar {
        display: none;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .main-container-wrapper {
        padding-left: 32px;
        padding-right: 32px;
        max-width: 1000px;
        margin: 0 auto;
    }

    .column-right {
        min-width: 298px;
    }

    .column-left {
        min-width: 216px;
    }

    #bar {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .main-container-wrapper {
        padding-left: 32px;
        padding-right: 32px;
        max-width: 768px;
        margin: auto;
    }

    #col-right {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .main-container-wrapper {
        padding: 16px;
        width: 100%;
        margin: 0;
    }

    #col-right {
        display: none;
    }
}