.top-section-wrapper{
    background-color: #163860;
}

.top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    font-size: 11px;
    color: white;
}

.top-section-left {
    display: flex;
    flex: 1;
    text-align: left;
    margin-left: 12px;
    color: white;
    fill: white;
    cursor: pointer;
    transition: opacity 0.5s;
}

.top-section-left:hover {
    opacity: 0.7;
    color: #4196ff;
    fill: #4196ff;
}

.svg-search-icon {
    width: 15px;
    padding-right: 4px;
}

.top-section-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 8;
}

.header-list-top-section {
    list-style-type: none;
    flex-direction: row;
    display: inline-flex;
    align-items: center;
    padding: 0;
    margin-bottom: 0;
}

.header-list-top-section li {
    padding-inline: 7px;
    cursor: pointer;
    transition: opacity 0.5s;
}

.header-list-top-section li:hover {
    opacity: 0.7;
    color: #4196ff;
}

.svg-down-arrow-icon {
    width: 16px;
    background-color: #163860;
    fill: white;
    margin: 0;
    border: none;
    cursor: pointer;
    transition: opacity 0.5s;
}

.svg-down-arrow-icon:hover {
    opacity: 0.7;
    fill: #4196ff;
}

.top-section-right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    margin-right: 12px;
    cursor: pointer;
    transition: opacity 0.5s;
}

.bi-person-fill {
    padding-right: 4px;
}

.top-section-right:hover {
    opacity: 0.7;
    color: #4196ff;
}

/* top-section conclusione */
/* --------------------------------------------------------- */
/* inzio middle-section */

.middle-section-wrapper{
    background-color: white;
}

.middle-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-left: 12px;
    padding-right: 12px;
}

.middle-section-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    color: #163860;
}

.middle-section-left img {
    border: 1px solid #f2f2f2;
    cursor: pointer;
}

.middle-section-left div {
    padding-left: 8px;
    cursor: pointer;
    transition: opacity 0.5s;
}

.middle-section-left:hover div {
    opacity: 0.7;
    color: #1f66ba;
}

.middle-section-center {
    display: flex;
    justify-content: center;
    padding-right: 45px;
    cursor: pointer;
}

.middle-section-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #163860;
    background-color: #ecb62f;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.5s;
}

.middle-section-right:hover {
    background: rgba(236, 182, 47, 0.8);
}

.abonnez-vous {
    font-size: 13px;
    font-weight: bold;
}

.le-premier {
    font-size: 11px;
    font-weight: lighter;
}

/* middle-section conclusione */
/* --------------------------------------------------------- */
/* inzio bottom-section */

.bottom-section {
    padding-bottom: 5px;
    border-bottom: 4px solid #163860;
}

.header-list-bottom-section {
    list-style-type: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #163860;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    width: 100%;
    padding-left: 0;
    margin: 0;
}

.header-list-bottom-section li {
    margin-inline: 16px;
    cursor: pointer;
    transition: opacity 0.5s;
}

.header-list-bottom-section li:hover {
    opacity: 0.7;
    color: #1f66ba;
}

/* fine bottom-section */
/* --------------------------------------------------------- */
/* inzio middle-section-small */

.middle-section-small{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 58px;
}

.middle-section-small-left{
    display: flex;
    flex: 1;
    color: #163860;
    align-items: center;
    font-size: 14px;
    text-align: left;
    padding-left: 30px;
}

.container-middle-section-small-left{
    cursor: pointer;
    transition: opacity 0.5s;
}

.container-middle-section-small-left:hover{
    opacity: 0.7;
    color: #1f66ba;
}

.middle-section-small-center{
    display: flex;
    flex: 3;
    justify-content: center;
    margin-left: -9px;
    margin-top: 4px;
}

.img-logo{
    width: 195px;
    height: auto;
    cursor: pointer;
}

.middle-section-small-right {
    display: flex;
    flex: 1;
    justify-content: right;
    padding-right: 36px;
    color: #163860;
    align-items: center;
    font-size: 11px;
    font-weight: bold;
    margin-top: 4px;
    cursor: pointer;
    transition: opacity 0.5s;

}
.middle-section-small-right:hover{
    opacity: 0.7;
    color: #1f66ba;
}

/* --------------------------------------------------------- */
@media screen and (min-width: 1280px){
    .top-section{
        max-width: 1280px;
        margin: auto;
    }
    .middle-section{
        max-width: 1280px;
        margin: auto;
    }
    .middle-section-small{
        display: none;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
    .top-section{
        margin-left: 22px;
        margin-right: 22px;
    }

    .middle-section{
        margin-left: 22px;
        margin-right: 22px;
    }
    .middle-section-small{
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .top-section-wrapper {
        display: none;
    }

    .middle-section-wrapper {
        display: none;
    }

    .bottom-section {
        border-bottom: 2px solid #163860;
        height: 38px;
        padding-left: 20px;
    }

    .header-list-bottom-section {
        justify-content: left;
        font-size: 14px;
    }

    .header-list-bottom-section svg {
        min-width: 12px;
        min-height: 12px;
        margin-bottom: 4px;
        margin-left: 4px;
    }
}